
body{
    background-color: green;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#crimeScene{
    height: 70vh;
    width: 97vw;
    background-color: grey;
}

#multiChoice{
    background-color:bisque;
    width: 97vw;
    height: 40vh;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}







