/* .button {
  display: flex;
  background-color: royalblue;
  align-items: center;
  justify-content: center;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 15px;
} */

/* don't use this
use the buttons in app.css */
