/* Horizontal layout for desktop and tablet made more sense to me */
#clueStage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#crimeScene {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: grey;
  justify-content: center;
  align-items: center;
}
.evidence {
  width: 1000px;
  height: 300px;
  background-color: rgb(158, 109, 204);
  margin: 30px;
}

#multiChoice {
  width: 97%;
  height: 60%;
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.InductiveChoice {
  width: 1000px;
  height: 300px;
  background-color: rgb(44, 109, 252);
  border-radius: 25px;
  margin: 30px;
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  #clueStage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #crimeScene {
    display: flex;
    flex-direction: column;
    height: 130%;
    width: 97%;
    background-color: grey;
    justify-content: center;
    align-items: center;
  }
  .evidence {
    width: 20%;
    height: 30%;
    background-color: rgb(158, 109, 204);
    margin: 10px;
  }

  #multiChoice {
    width: 97%;
    height: 60%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
  }

  .InductiveChoice {
    width: 80%;
    height: 30%;
    background-color: rgb(44, 109, 252);
    border-radius: 25px;
  }
}
