
/* IPHONE X */
@media screen and (min-width:375px) and (max-width:812px){
    body{
        margin:0;
    }
    #menuButton{
        width: 15%;
        height: 8%;
        background-color: grey;
        position: fixed;
        left: 2%;
        top: 2%;
    }
    #menuPopup{
        height: 100vh;
        width: 80%;
        position: fixed;
        left: -80%;
        opacity: 70%; 
        transition: left 0.5s;
        background-color: black;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column; 
    }
    .menuItems{
        height: 5%;
        width: 50%;
        margin: 10px;
        background-color: aqua;
        text-align: center;
        font-size: 25px;
    }

    #app{
        height: 100vh;
        width: 100vw;
        background-color: darkcyan;

    }

    #test{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: darkcyan;
    }

    #title{
        height: 40%;
        width: 100vw;
        text-align: center;
    
    }

    #buttons{
        height: 60%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #start{
        width: 50%;
        height:10%;
        margin: 10px;
        background-color: grey;
        justify-content: center;
        text-align: center;
        font-size: 35px;
        border-radius: 15px;
    }

    #tutorial{
        width: 50%;
        height:10%;
        margin: 10px;
        background-color: grey;
        text-align: center;
        font-size: 35px;
        border-radius: 15px;

    }

    #crimeDesc{
        width: 100vw;
        height: 100%;
        background-color: darkcyan;
    }
    .buttons{
        width: 50%;
        height:10%;
        margin: 15px;
        background-color: grey;
        justify-content: center;
        text-align: center;
        font-size: 35px;
        border-radius: 15px; 
    }
    

    .imgButtons{
        width: 50%;
        height: 50%;
        background-color: antiquewhite;
        margin: 10px;
    }

    #title1{
        height: 20%;
        width: 100vw;
        text-align: center;
    
    }
    



    
}