@media screen and (min-width: 375px) and (max-width: 812px) {
  body {
    margin: 0;
  }
  .carousel {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .carousel__container {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: pink;
    /* Just temporary colours so that I can see the modal in front of the background */
    width: 75%;
    height: 40%;
    border-radius: 10%;
  }
}
